//Import
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Open+Sans&display=swap');

//Variable

body{
    padding: 0;
    margin: 0;
    //fonts
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Baloo Tamma 2', cursive;

}